body {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #FFF2D8;
}

.item1-snow {
    flex: 1;
    background: #FFF2D8;
    height: 1195px;
}

.hr-snow {
    width: 100%;
    height: 20px !important;
    background-color: #F4CCC8;
    border-color: #F4CCC8;
    margin: 0;
    border-width: 0;
    opacity: 100%;
}

.parte1-snow ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;

}

.parte2-snow ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.parte2-snow p {
font-size: 20px;
}

.parte2-snow {
    margin-bottom: 20px;
    background-color: #F4CCC8;
    padding: 15px ;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%;
}

.snow-livro ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.snow-livro {
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%;
}

.parte1-snow a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
}

.parte1-snow {
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%
}

.titulo1-snow h1 {
    margin: 5% 0;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}

.menu-snow {
    font-size: 25px;
    font-family: 'Open Sans';
    margin-left: 30px;
    margin: 0;

}

.snow {
    font-size: 25px;
    font-family: 'Open Sans';
}

.voltar-snow {
    font-size: 25px;
    font-family: 'Open Sans';

}

.salvar1-snow {
    border-color: #9F9F9F;
    background-color: #CCCCCC;
    width: 65px;
    height: 30px;
    margin-bottom: 20px;
    justify-content: baseline;
    font-family: 'Open Sans';
    font-weight: bold;

}

.descricao-snowflake {
    background-color: #F4CCC8;
    padding: 20px;
    font-family: 'Open Sans';
    font-size: 20px;
    border: 0;
    outline: 0;
    resize: none;
    height: 800px;
}

.botoes-snow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 4.5% 0;
}

.fase1-snow {
    margin-right: 150px;
    font-family: 'Open Sans';
    font-size: 25px;
}

.nomelivro1-snow {
    font-size: 25px;
    font-family: 'Open Sans';
    text-align: center;
    list-style: none;
}

#editor {
    background-color: #FFF2D8;
}


/*PERSONAGEM*/

.input-nome {
    width: 250px;
    height: 25px;
    padding: 15px;
    margin-right: 300px;

}

.hr-personagem {
    width: 100%;
    height: 20px !important;
    background-color: #EBDEF0;
    border-color: #EBDEF0;
    margin: 0;
    border-width: 0;
    opacity: 100%;
}

/*MUNDO*/

.hr-mundo {
    width: 100%;
    height: 20px !important;
    background-color: #D5ECB4;
    border-color: #D5ECB4;
    margin: 0;
    border-width: 0;
    opacity: 100%;
}

/*MUNDO*/

.parte1 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.parte1 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
}

.parte1 {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #D5ECB4;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%
}

.parte-persona ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.parte-persona a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
}

.parte-persona {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #EBDEF0;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%
}

.titulo h2 {
    justify-content: baseline;
    text-align: right;
    margin: 0;
    font-family: 'Open Sans';
}

.menu {
    font-size: 25px;
    font-family: 'Open Sans';
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.menu:hover {
    text-decoration: underline;
    color: gray;
}

.nome-conteudo {
    font-size: 25px;
    font-family: 'Open Sans';
    margin-right: 15px;
}

.voltar {
    font-size: 25px;
    font-family: 'Open Sans';
}

.fase {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.salvar {
    width: 65px;
    height: 30px;
    margin-bottom: 20px;
    justify-content: baseline;
    font-family: 'Open Sans';
}

.save-snow {
    border-color: #d47b73;
    background-color: #F4CCC8;
}

.save-persona {
    border-color: #735191;
    background-color: #d3abf6;
}

.save-mundo {
    border-color: #8da86a;
    background-color: #b5cf92;

}

.save-cap {
    border-color: #e08c54;
    background-color: #F1C4A5;
}

/* CAPÍTULO */

.title_cap h1 {
    justify-content: baseline;
    text-align: right;
    margin: 0;
    font-size: 30px;
    font-family: 'Open Sans';
}

.small_cap {
    display: block;
}

.cap {
    border: none;
    background-color: #FFF2D8;
}

.a_cap {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.a_cap:hover {
    color: #F1C4A5;
    text-decoration: none;
    font-weight: bold;
}

.field_cap {
    border: solid 3px #F1C4A5;
    padding: 10px;
    margin: 0;
    width: 450px;
}

.separando {
    margin: 20px 0;
}

.flex_cap {
    display: flex;
    justify-content: space-between;
}

/* ESCREVER CAPÍTULO */

.hr-cap {
    width: 100%;
    height: 20px !important;
    background-color: #F1C4A5;
    border-color: #F1C4A5;
    margin: 0;
    border-width: 0;
    opacity: 100%;
}

.parte_cap ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.parte_cap a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
}

.parte_cap {
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #F1C4A5;
    justify-content: space-around;
    justify-content: baseline;
    width: 100%
}


/* SGVS */
.sgv-cap {
    color: #d68451;
}