body {
    font-family: 'Open Sans', 'Helvetica Neue', ;
    background-color: #FFF2D8;
}
 
.card-img-top1 {
    width: 8.5rem;
    height: 8.5rem;
    background-color: #FFF2D8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
 
}
 
/* INICÍO cards da Jornada do herói*/
.hero-top{
    background-color: #BCE4E4;
}
 
.hero-card{
    border: 8px solid #BCE4E4;
}
 
.hero-title{
    color: #0287D2;
}
 
/* FIM cards da Jornada do herói*/
 
/* INICÍO cards da Snowflake*/
.snow-top{
    background-color: #F4CCC8;
}
 
.snow-card{
    border: 8px solid #F4CCC8;
}
 
.snow-title{
    color: #E5556C;
    text-decoration: none;
    background-color: none;
}

.snow-title:hover{
    text-decoration: underline;
}

.etapa-descricao{
    text-decoration: none;
    color: black;
}

.etapa-descricao:hover{
    text-decoration: underline;
    color: gray;
}
/* FIM cards da Snowflake*/
 
/* INICÍO cards da Criação de Mundo*/
.mundo-top{
    background-color: #D5ECB4;
}
 
.mundo-card{
    border: 8px solid #D5ECB4;
}
 
.mundo-title{
    color: #637846;
    background-color: none;
    text-decoration: none;
}

.mundo-title:hover{
    text-decoration: underline;
}
/* FIM cards da Criação de Mundo*/
 
/* INICÍO cards da Criação de Personagens*/
.persona-top{
    background-color: #EBDEF0;
}
 
.persona-card{
    border: 8px solid #EBDEF0;
}
 
.persona-title{
    color: #96679F ;
    background-color: none;
    text-decoration: none;
}

.persona:hover{
    text-decoration: underline;
}
/* FIM cards da Criação de Personagens*/
.card-top {
    width: 11rem;
    min-height: 150px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.card-title{
    text-decoration: none;
    color: black;
    font-size: 18px;

}
 
.carousel-inner {
    padding: 1em;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.criando-persona{
    color: #632571 ;
    background-color: #ebcff1;
    border: solid 2px #632571;
    border-radius: 40%;
}

.criando-mundo{
    color: #4a5a35 ;
    background-color: #D5ECB4;
    border: solid 2px #4a5a35;
    border-radius: 40%;
}
.criar-persona{
    color: #632571 ;

}
.criar-mundo{
    color: #4a5a35 ;
}

.card-body{
    padding: 0.2rem 0.8rem;
    font-weight: bold;
    width: 12rem;
    margin: 0 auto;
    font-size: 1rem !important;
    max-height: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: flex-start;
}
.card-body h4{
    margin: 0 auto;
    font-size: 1rem !important;
   
}

.carousel{
    background-color: #FFF2D8;
}
 
 
.card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
 
.logo {
    width: 8rem;
    height: 8rem;
    display: flex;
    margin: 0 auto;
 
}

 
 
.titulo_top-card {
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
 
.card-text  {
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    font-size: 1rem;
    max-height: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: flex-start;
}
 
h2  {
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    font-size: 1rem;
    align-items: center;
}
 
h4.card-text{
    cursor: pointer;
}
 
@media (min-width: 768px) {
    .card {
      height: 14rem;
    }
 }
 
.card {
    border-radius: 20px;
    width: 12rem;
    height: 22rem;
    background-color: #FFF2D8;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
 
}


.dropdown-item:focus {
    background-color: #FED576;
    border-color: #FED576;
  }

  .dropdown-menu>a:hover {
    background-color: transparent;
    border-color: #FED576;
  }

  .dropdown-menu show {
    border-color: #FED576;
  }

  .dropdown-menu {
    border: 1px solid #FED576;
  }

  .sgv-persona{
    color: #663a77 ;
    background-color: #ebcff1;
  }