.container-perfil{
    position: relative;
     top:0px; 
     left:0px;
}
div.imagens{
    position:absolute;
     top:100px;
      left:6px;
}
.image{
    width:20px;
    height:20px;
}
.image2{
    width:20px;
    height:20px;
}