
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {

    background-color: #FFF2D8;
    font-family: 'Open Sans', sans-serif;
}

div.gerenciamento-titulo{
    margin-left: 180px;
}