body {
  font-family: 'Open Sans', 'Helvetica Neue';
  background-color: #FFF2D8;
}

header {
  padding-left: 22%;
  padding-right: 20%;
  padding-top: 3%;
}

main {
  padding-left: 20%;
  padding-right: 20%;
}

.nome_docks {
  font-weight: 500;
  font-size: 3.2em;
  text-decoration: none;
  color: black;
}

.nome_docks:hover {
  color: black;
  text-decoration: underline;
}

.title_welcome {
  font-size: 45px;
  font-weight: bold;
}

.before_course {
  color: #646464;
}

.criar_livro {
  margin: 15px 0 15px 0;
  background-color: #FFF2D8;
  border: 4px solid #FED576;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;

}

li a:hover {
  color: rgb(159, 159, 159);
}

li {
  text-decoration: none;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo_footer {
  max-width: 220px;
  min-width: 180px;
}

.logo_flex {
  display: flex;
  align-items: center;
}

li a{
  text-decoration: none;
  color: black;
}

.text_footer {
  margin: 0 auto;
  text-align: justify;
}

.nome {
  text-decoration: none;
  font-size: inherit;
  color: #CD40A6;
}

a :hover {
  color: #a40076;
  text-decoration: underline;
}

.footer1{
  background-color: white;
  
}

.button-cap {
  padding: 5px;
  border: solid 8px #F1C4A5;
  background-color: #FFA974;
  border-radius: 8%;
}

.criar-cap {
  font-size: 25px;
  text-decoration: none;
  color: black;

}