input[type="submit" i] {
    background-color: #D5ECB4;
    border: 2px solid #BBBBBB;
    height: 25px;
    width: 80px;
    font-weight: bolder;
    font-size: 15px;
}

input[type="text" i]{
    border: 3px solid #EDEDED;
    border-radius: 5px;
    height: 40px;
    width: 380px;
}

input[type="password" i] {
    border: 3px solid #EDEDED;
    border-radius: 5px;
    height: 40px;
    width: 380px;

}
/*input[type="reset" i]{
    margin-top: 10px;
    background-color: #F4CCC8;
    border: 2px solid #BBBBBB;
    height: 40px;
    width: 130px;
    font-weight: bolder;
    font-size: 15px;
}*/
input[type="button" i].desativar{
    margin-top: 10px;
    border: 2px solid #BBBBBB;
    height: 40px;
    width: 170px;
    border-radius: 0px;
    font-weight: bolder;
    font-size: 15px;
    background-color: #F4CCC8;
    color: black;
    cursor:pointer;

}
input[type="button" i].desativar:hover{
    background-color: #F4CCC8;

}

input[type="button" i]{
    background-color: #D5ECB4;
    border: 2px solid #BBBBBB;
    margin-top: 40px;
    height: 30px;
    width: 137px;
    font-weight: bolder;
    font-size: 15px;
    cursor:pointer;
}
