body {
    margin: 25px;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  
}

.icon-login{
    width: 42px;
}

.login-form {
    background-color: white;
    margin: 0 auto;
    width: 380px;
    height: 750px;
    border-radius: 35px;
}

.todoLogin {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.login_cima {
    width: 250px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 20%;
    width: 310px;
    grid-template-areas: "l i";
}

.flex2 {
    margin: 0 auto;
    height: auto;
    grid-area: l;
}

.flex3 {
    height: auto;
    grid-area: i;
}

.fechar{
    height: 28px;
}

.slogan {
    margin: 10px;
}

.login-meio {
    width: 350px;
    padding: inherit;
}

fieldset {
    margin: 10px auto;
    text-align: initial;
    border-radius: 10px;
    border: 5px solid #EDEDED;
    width: 200px;
    color: #a2a2a2;
    padding: 5px;

}

.norm-login {
    border: none;
    padding: 8px;
    font-size: 15px;
    color: #a2a2a2;

}

.continuar {
    border: 1px dashed #ded559;
    border-radius: 5px;
    background-color: #F6EB60;
    padding: 10px;
    width: 150px;
    font-size: medium;
}

.ou {
    margin-bottom: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    margin: 0 auto;
    align-items: center;
}

.flex>div {
    flex: 1 1 200px;
    margin: 10px;
}

.login-with {
    border: none;
    background-color: white;
    color: #a2a2a2;
    padding: 10px;
    font-size: medium;
    font-size: 15px;
    max-width: 150px;
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}

button{
    cursor: pointer;
}

.membro {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: white;
    border: none;
}


