
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {

    background-color: #FFF2D8;
    font-family: 'Open Sans', sans-serif;
}

.logo-img{
    width:90px;
    height:90px;
}

.container_inicial{
    background-color: #FFFFFF;
    text-align: center;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 17px;
    border-radius: 20px;
    margin-top: auto;
    width: 360px;
    height: 550px;
}
h1.slogan{
    font-size:35px;
    margin-top:0px;
    margin-bottom:0px;
}
.slogan{
    margin: 10px;
}
p.slogan{
    font-size: 15px;
    font-weight: normal;
    margin: 0px 80px 10px;
}
input#nome{
    border: none;
    padding: 8px;
    font-size: 15px;
    color: #a2a2a2;
}

input#e-mail{
    border: none;
    padding: 8px;
    font-size: 15px;
    color: #a2a2a2;
}
input#senha{
    border: none;
    padding: 8px;
    font-size: 15px;
    color: #a2a2a2;
}
input#continuar.continuar{
    border: 1px dashed #ded559;
    border-radius: 5px;
    background-color: #F6EB60;
    padding: 10px;
    width: 150px;
    font-size: medium;
    margin-top:5px;
}
fieldset{margin: 10px auto;
    text-align: initial;
    border-radius: 10px;
    border: 5px solid #EDEDED;
    width: 215px;
    color: #a2a2a2;
    padding: 5px;
}
.login-with {
    border: none;
    background-color: white;
    color: #a2a2a2;
    padding: 10px;
    font-size: medium;
    font-size: 15px;
    max-width: 150px;
    margin: 0;
    padding: 0;
}

.icon-login {
    width: 42px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    margin: 0 auto;
    align-items: center;
}

.membro-cadastro{
    font-size: 15px;
}
.form-fieldset{
    margin: 10px auto;
    text-align: initial;
    border-radius: 10px;
    border: 5px solid #EDEDED;
    width: 220px;
    color: #a2a2a2;
    padding: 5px;
}
.membro-cadastro2{
    margin: 0px 80px 0px;
    font-size:15px
}
.membro-cadastro3{
    margin: 0px 60px 0px;
    font-size:15px
}
.container_inicial2{
    background-color: #FFFFFF;
    text-align: center;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 17px;
    border-radius: 20px;
    margin-top: auto;
    width: 390px;
    height: 550px;
}
.container_inicial3{
    background-color: #FFFFFF;
    text-align: center;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 17px;
    border-radius: 20px;
    margin-top: auto;
    width: 390px;
    height: 500px;
}