@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFF2D8;
}
div.container{
    margin-left: 180px;
    margin-right: 290px;
}
div.descricao-container{
    font-size: 20px;
}
h1.metodo-cp-titulo{
    color:#BAAAC8;
    font-size: 40px;
    
}
.camadas{
    color:#BAAAC8;
    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
}
.camadas-container{
    font-size: 20px;
}
li{
    margin-bottom:10px;
}
p{
    margin-bottom: 0px;
}
p.juncao{
    margin-top: 3px;
}