.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border:none;
    border-top-right-radius: calc(0.3rem - 1px);
    position: fixed;
    margin-left: 330px;
}
.modal-header3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border:none;
    border-top-right-radius: calc(0.3rem - 1px);
    position: fixed;
    margin-left: 330px;
}
.modal-content{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        outline: 0;
        height: 70pc;
}
.btn{
         margin-left: 1250px;
        text-align: center;
        background-color: #F4CCC8;
        border: 2px solid #DBACA7;
        width: 60px;
        height: 23px;
        border-radius: 3px;
        font-weight: bolder;
        color: black;
        padding: none;
        display: flex;
    justify-content: center;
    align-items: center;
    font-size:13px;
}
.btn-primary {
     color: none;
   background-color: transparent;
    border:none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color:none;
    background-color: transparent;
    border:none;
    box-shadow:transparent;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: transparent;
}
.btn-primary:focus{
    box-shadow: 0ch
}
.modal-header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border: none;
    border-top-right-radius: calc(0.3rem - 1px);
    position: fixed;
    margin-left: 310px;
}