.item1 {
    flex: 1;
    background: #FFF2D8;
    height: 1195px;
}

.texto1 textarea {
    width: 953px;
    height: 800px;
    border: 0;
    outline: 0;
    resize: none;
    background: #F4CCC8;
    padding: 50px;
    padding-top: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 10px;
}

.texto1 {
    background: #F4CCC8;
    width: 953px;
    height: 810px;
    margin-top: 30px;
}

.vertical {
    border-left: 6px solid black;
    height: 1195px;
    position: fixed;
    left: 50%;

}

.container1 {
    max-width: 100%;
    display: flex;
}

body {
    border: 0;
    padding: 0;
    margin: 0;

}

hr {
    width: 100%;
    height: 20px;
    background-color: #F4CCC8;
    border-color: #F4CCC8;
    margin: 0;
    border-width: 0;
}

.parte1 ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}


.parte1 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans';
    font-size: 20px;

}
.parte1 {
   
    margin-top: 25px;
    margin-bottom: 20px;
    justify-content: space-around;
    justify-content: baseline;

}

.titulo1 {
    justify-content: baseline;
    margin: 20px;
    font-family: 'Open Sans';
    font-size: 15px;
}

.menu {
    font-size: 25px;
    font-family: 'Open Sans';
    margin-left:30px;
    margin:0;
    
}

.snow {
    font-size: 25px;
    font-family: 'Open Sans';
}

.voltar {
    font-size: 25px;
    font-family: 'Open Sans';
   
}


/*parte esquerda da tela*/

.parte2 ul {
    list-style: none;
    display: flex;
    padding:0;
    justify-content: space-between;
    margin-left:5px;
}

.parte2 {
    width: 675px;
    margin-top: 25px;
    margin-bottom: 25.5px;
    justify-content: space-between;
    justify-content: baseline;
    
}

.item2 {
    flex: 1;
    background: #FFF2D8;
    height: 1195px;
    width: 500px;
}

.nomelivro1 {
    font-size: 25px;
    font-family: 'Open Sans';
}

.lupa1 img{
    width: 25px;
    height: 30px;
}

.expadir1 img {
    width: 30px;
    height: 15px;

}
 .Aa1 {
    border-radius: 0;
    border-color: #CBA8A4;
    background-color: #F4CCC8;
    width:45px;
    height:30px;
    margin-right:10px;
    
}

.salvar1{
    border-color:#9F9F9F;
    background-color: #CCCCCC;
    width:65px;
    height:30px;
    margin-right:5px;
}
.botoes1{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;

}
.fase1{
    font-size: 25px;
    font-family: 'Open Sans';
    margin-right:300px;

   
}
.texto2 textarea {
    width: 650px;
    height: 800px;
    padding: 50px;
    padding-top: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-top: 10px;
}

/*modal style*/
.tipografia-titulo{
    display: flex;
    justify-content:flex-start;
}
.i-tipografia{
    padding-left:30px;
}
.n-tipografia{
    padding-left:15px;
}
.bnt-tipografia{
    display: flex;
    justify-content:flex-start;
  
}
.italico-tipografia{
    margin-left: 40px;
    width: 50px;
    height:50px;
    font-size:30px;
    background-color: white;
}
.negrito-tipografia{
    margin-left: 25px;  
    width: 50px;
    height:50px;
    font-size:30px;
    background-color: white;
   
}

/*expandir*/
/* sobreposiçao (background) */
.overlay {   
    height: 100%;
    width: 0;
    position: fixed; 
    left: 0;
    top: 0;
    background-color: #FFF2D8; 
    overflow-x: hidden; 
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 20px; 
    width: 100%; 
    margin-top: 30px; 
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
   
  }
  .Aa2{
    border-radius: 0;
    border-color: #CBA8A4;
    background-color: #F4CCC8;
    width:45px;
    height:30px;
    margin-right:10px;
}
.salvar2{
    border-color:#9F9F9F;
    background-color: #CCCCCC;
    width:65px;
    height:30px;
    margin-right:5px;
}
.texto3 {
    width: 1880px;
    height: 900px;
    border:0;
    outline: 0;
    resize: none;
    background:#FFF2D8;
    padding:50px;
    padding-top: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-top:15px;
}

.botoes2{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;
}
.nomelivro2 {
    font-size: 25px;
    font-family: 'Open Sans';

}

.hr2 {
    width: 100%;
    height: 20px;
    background-color: #F4CCC8;
    border-color: #F4CCC8;
    margin: 0;
    border-width: 0;
}


