@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.item {
    padding-bottom: 15px;
    padding-bottom: 0;
}

.logotipo {
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

}

img,
h1 {
    display: inline-block;
}

.nome {
    font-size: 40px;
    font-weight: bolder;
}

nav {
    background-color: #D5ECB4;
    padding: 0px;
    
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 0;
}

nav li {
    display: inline;
    text-align: justify;
}


nav li a:hover {
    color: rgb(159, 159, 159);
}

.link {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

hr.linha {
    border: none;
    background: rgb(188, 228, 228);
    background: linear-gradient(90deg, rgba(188, 228, 228, 1) 0%, rgba(188, 228, 228, 1) 5%, rgba(244, 204, 200, 1) 5%, rgba(244, 203, 196, 1) 10%, rgba(241, 196, 165, 1) 10%, rgba(241, 196, 165, 1) 15%, rgba(233, 218, 247, 1) 15%, rgba(233, 218, 247, 1) 20%, rgba(188, 228, 228, 1) 20%, rgba(188, 228, 228, 1) 25%, rgba(244, 203, 197, 1) 25%, rgba(244, 203, 197, 1) 30%, rgba(241, 196, 165, 1) 30%, rgba(241, 196, 165, 1) 35%, rgba(233, 218, 247, 1) 35%, rgba(233, 218, 247, 1) 40%, rgba(188, 228, 228, 1) 40%, rgba(188, 228, 228, 1) 45%, rgba(244, 203, 198, 1) 45%, rgba(244, 203, 198, 1) 50%, rgba(241, 196, 165, 1) 50%, rgba(241, 196, 165, 1) 54%, rgba(241, 196, 165, 1) 55%, rgba(233, 218, 247, 1) 55%, rgba(233, 218, 247, 1) 60%, rgba(188, 228, 228, 1) 60%, rgba(188, 228, 228, 1) 65%, rgba(244, 203, 197, 1) 65%, rgba(244, 203, 197, 1) 70%, rgba(241, 196, 165, 1) 70%, rgba(241, 196, 165, 1) 75%, rgba(233, 218, 247, 1) 75%, rgba(233, 218, 247, 1) 80%, rgba(188, 228, 228, 1) 80%, rgba(188, 228, 228, 1) 85%, rgba(244, 203, 197, 1) 85%, rgba(244, 203, 197, 1) 90%, rgba(241, 196, 165, 1) 90%, rgba(241, 196, 165, 1) 95%, rgba(233, 218, 247, 1) 95%);
    height: 15px;
    display: block;
}

main {
    background-color: #D5ECB4;
    display: inline-block;
    justify-content: center;
    align-items: center;


}

.menu-container {
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nome {
    display: flex;
    align-items: center;
}