@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF2D8;
  box-sizing: border-box;
  margin:0;
  
}
.item{
  display: flex;
  flex-direction: column;
  
}
a{
  margin-bottom:5px;
 color: black;
 font-size: 16px;
 text-decoration: none;
 padding: 5px 30px;
 display:block;
 line-height: 40px;
 font-weight: bolder;

 
}

.side-bar{
  background-color: white;
  width:290px;
  height: 100vh;
  position: fixed;
  top:10%;
  left:0;
  overflow-y:auto;
  transition: 0.6s case;
  transition-property: left;
}
.side-bar.menu{
  width:100%;
  margin-top: 80px;
}

a:hover{
 background-color: #EDEDED;
 transition: 0.3s ease;
}
